@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  

  .dark {
    --background: 0 0% 0%; /* black */
    --foreground: 0 0% 100%; /* white */
    --card: 0 0% 0%; /* black */
    --card-foreground: 0 0% 100%; /* white */
    --popover: 0 0% 0%; /* black */
    --popover-foreground: 0 0% 100%; /* white */
    --primary: 0 0% 100%; /* white */
    --primary-foreground: 0 0% 0%; /* black */
    --secondary: 0 0% 20%; /* dark gray */
    --secondary-foreground: 0 0% 100%; /* white */
    --muted: 0 0% 20%; /* dark gray */
    --muted-foreground: 0 0% 80%; /* light gray */
    --accent: 0 0% 20%; /* dark gray */
    --accent-foreground: 0 0% 100%; /* white */
    --destructive: 0 100% 30%; /* dark red */
    --destructive-foreground: 0 0% 100%; /* white */
    --border: 0 0% 20%; /* dark gray */
    --input: 0 0% 20%; /* dark gray */
    --ring: 0 0% 90%; /* light gray */
    --chart-1: 0 0% 20%; /* dark gray */
    --chart-2: 0 0% 15%; /* darker gray */
    --chart-3: 0 0% 10%; /* even darker gray */
    --chart-4: 0 0% 5%; /* almost black */
    --chart-5: 0 0% 0%; /* black */
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}